.funFont {
    font-family: 'Black Ops One', cursive;
}


.heroImage {
    background-image: url(https://images.unsplash.com/photo-1521805103424-d8f8430e8933?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
    background-size: cover;
    background-position: center;
    min-height: 68vh;
}


.box {
    background-color: white;
    border-radius: 1%;
    width: 40vw;
    height: 30vh;
    align-items: center;
}

.shadow {
    box-shadow: 0px 20px 20px rgb(0, 0, 0);
}

/* SECTION background colors */
.bgMain {
    background-color: rgba(211, 77, 0, 0.91);
}

.bgSecondary {
    background-color: rgb(171, 171, 171);
}

/* SECTION text colors */

.textMain {
    color: rgba(211, 77, 0, 0.91)
}